.steps ul li, .ingredients ul li {list-style: square}

ul li {list-style: none;}

.paragraphs {border-bottom: 2px solid black;}

h1 {text-align: center;
font-family: Arial, Helvetica, sans-serif;}

h3, h4 {font-family: Arial, Helvetica, sans-serif;}

a, a:hover{text-decoration:none;
color: black;
}

.recipes-list .recipe-link
{width: 200px;
height: 200px;
border-radius: 15px;
border: 2px solid black;
margin: 10px;}

img {width: 200px;
    height: 200px;
    border-radius: 15px;
    display: block;
position: relative;
left: calc(50% - 100px)}

.index-header {border-bottom: 2px solid black;
text-align: center;}

.recipe-link:hover {transform: scale(105%);}

.recipes-list .recipe-link .caption {text-align: center; 
    background-color: gray;
    z-index: 1;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 0 0 15px 15px;
}

.recipes-list ul {padding:0;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 0px;
margin: auto;}


.recipe-link img {margin-bottom:-44px;
z-index: -1;}